# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Model weights
*.h5

# DeepFace cache
.deepface/

# Embeddings (optional)
embeddings/*.pkl

reference_images/*.jpg
known_faces/*.jpg
test_images/*.jpg