# -----------------------------------
# Virtual Environment
# -----------------------------------
.venv/

# -----------------------------------
# Python Cache
# -----------------------------------
__pycache__/
*.py[cod]

# -----------------------------------
# VS Code
# -----------------------------------
.vscode/

# -----------------------------------
# OS Files
# -----------------------------------
.DS_Store
Thumbs.db

# -----------------------------------
# Model Files
# -----------------------------------
*.h5
*.pt

# -----------------------------------
# DeepFace Cache
# -----------------------------------
.deepface/

# -----------------------------------
# Runtime Data
# -----------------------------------
embeddings/

# -----------------------------------
# Local Images / Datasets
# -----------------------------------
raw_faces/
known_faces/
reference_images/
test_images/